/* navbar */
.link-custom {
  position: relative;
  margin-left: 50px;
  font-family: sans-serif;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0AF747;
  position: absolute;
  left: 0;
  top: 90%;
  transition: all 0.4s;
}

.my-list {
  margin-top: 15px !important;
}

.link-custom:hover::after {
  width: 100%;
}


.header{
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
  position:fixed;
  width:100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links a{
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.header .nav-links li a:hover{
  color: #0AF747;
}


/* sobre mi */
.full-height {
  min-height: 76vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  
}

/* sobre mi */
.subtitle{
  color: #0AF747;
  margin: 0 50px;
}

.parrafo{
  margin: 10px 80px;
  font-family: Georgia, Cambria, Times, "Times New Roman", serif;
}

/* tecnologias */
.row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px !important;
  height: 220px;
}
/* footer */

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  
}

.footer {
  text-align: center;
  margin-top: 100px;
}


