/* navbar */
.link-custom {
  position: relative;
  margin-left: 50px;
  font-family: sans-serif;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0AF747;
  position: absolute;
  left: 0;
  top: 90%;
  transition: all 0.4s;
}

.my-list {
  margin-top: 15px !important;
}

.link-custom:hover::after {
  width: 100%;
}


.header{
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
  position:fixed;
  width:100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links a{
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.header .nav-links li a:hover{
  color: #0AF747;
}


/* Proyecto */
.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-img-top{
  height: 50%;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card{
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
  position: relative;
  margin: 25%;
}
.link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0AF747;
  position: absolute;
  left: 0;
  top: 90%;
  transition: all 0.4s;
}
.link:hover::after {
  width: 100%;
}
a:hover{
  color:#0AF747;
}

.texto{
  text-align: center;
  margin-bottom: 0;
}


/* footer */

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  
}

.footer {
  text-align: center;
  margin-top: 2%;
}




/* */
.full-height {
  min-height: 76vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}