.link-custom {
    font-weight: 700;
    position: relative;
    margin-left: 50px;
    font-family: sans-serif;
    
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #0AF747;
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
    
}

.link-custom:hover::after {
    width: 100%;
}

.luz {
    float: left;
    width: 40%;
    margin-left: 100px;
    
}


/* Estilos para el modo claro */
.modo-claro {
    background-color: white;
    color: #363434;
  }
  
  /* Estilos para el modo oscuro */
  .modo-oscuro {
    background-color: #363434;
    color: white;
  }

.nav-link{
    color: #0AF747;
}


.tipeo{
    color: #0BE312;
}


/* INICIO */

.full-height {
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 150px;

}

.full-heightt {
    min-height: 65vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 150px;
}

span{
    font-size: 50px;
}

/* tecnologias */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
	--card-width: 200px;
	--card-height: 300px;

	--card-transition-duration: 800ms;
	--card-transition-easing: ease;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    border: none;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {

    width: calc(3 * var(--card-width));
    height: auto;
}

.cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.cardList__btn.btn--left {
    left: -5%
}
.cardList__btn.btn--right {
    right: -5%
}
.cardList__btn .icon {
    width: 100%;
    height: 100%;
}

.cardList__btn .icon svg {
    width: 100%;
    height: 100%;
}

.cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 100px;
}

.card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50, -50%) translateX(var(--card-translateX-offset))
    translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset))
    scale(var(--card-scale-offset));
    display: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration)
    var(--card-transition-easing);
    user-select: none;
}

.card:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration)
    var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
}

.card__image {
    
}