.link-custom {
  font-weight: 700;
  position: relative;
  margin-left: 50px;
  font-family: sans-serif;
  
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #0AF747;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
  
}

.link-custom:hover::after {
  width: 100%;
}

.luz {
  float: left;
  width: 40%;
  margin-left: 100px;
  
}


/* Estilos para el modo claro */
.modo-claro {
  background-color: white;
  color: #363434;
}

/* Estilos para el modo oscuro */
.modo-oscuro {
  background-color: #363434;
  color: white;
}

.nav-link{
  color: #0AF747;
}


.tipeo{
  color: #0AF747;
}

/* Estilo de formulario */

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: #138C0F;
    border-color: black;
    color: yellow;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: green;
    color: yellow;
    border-color: #0AF747;
}

#contacto .form-control {
    background-color: white;
    border-color: #138C0F;
    color: blueviolet;
}

#contacto .form-control:focus{
    border-color: #0AF747;
    box-shadow: none;
}

#contacto .form-control::placeholder{
    color: darkgreen;
}

#contacto input.form-control{
    height: 44px;
}


/* footer */

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  
}

.footer {
  text-align: center;
  margin-top: 100px;
}